name: CI (from fork)
on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
  pull_request_target:
    branches: [main]


jobs:
  bundle-analysis-from-fork:
    permissions:
      contents: read # for checkout repository
      actions: read # for fetching base branch bundle stats
      pull-requests: write # for comments
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: github.event.pull_request.head.repo.fork == true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm
      - run: npm ci
      - run: npm run build
      - name: Analyze esbuild bundle size
        uses: jenseng/dynamic-uses@26a7fa196ecfc98e02d08d65a09d03ab999683ae
        with:
          uses: exoego/esbuild-bundle-analyzer@${{ github.sha }}
          with: '{"metafiles": "tmp/meta.json"}'
      - uses: actions/upload-artifact@v6
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          name: distribution
          path: |
            dist/
            action.yaml
