name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm
      - run: npm ci
      - run: npm run check
      - run: npm run test:run
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: npm run build
      - name: Check uncommited file
        run: |
          git diff
          git_diff_stat=$(git diff --stat)
          if [[ $git_diff_stat != '' ]]; then
            echo "Uncommitted file found. Ensure you have run tests and committed all changes."
            echo ""
            echo $git_diff_stat
            exit 1
          else
            echo 'clean'
          fi

  bundle-analysis:
    permissions:
      contents: read # for checkout repository
      actions: read # for fetching base branch bundle stats
      pull-requests: write # for comments
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm
      - run: npm ci
      - run: npm run build
      - name: Analyze esbuild bundle size
        uses: jenseng/dynamic-uses@8bc24f0360175e710da532c4d19eafdbed489a06
        with:
          uses: exoego/esbuild-bundle-analyzer@${{ github.sha }}
          with: '{"metafiles": "tmp/meta.json"}'
      - uses: actions/upload-artifact@v5
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          name: distribution
          path: |
            dist/
            action.yaml

  validate-action-yaml:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun scripts/validate-yaml.ts
